form {
  float: left;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: #000;
}

hr.line {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-top: none;
}

.container {
  margin: 0 auto;
  padding-top: 60px;
}

.inner-container {
  max-width: 800px;
  margin: 0 auto;
}

.fa-map-marker-alt {
  color: #880000;
  font-size: 20px;
}

.card.main {
  margin: 0 auto;
  border: 1px solid #00c2c2;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #b4bcb0;
  background: linear-gradient(
    91.9deg,
    rgb(93, 248, 219) 27.8%,
    rgb(33, 228, 246) 67%
  );
}

.card.header {
  padding: 10px 20px 4px 20px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(101, 255, 253) 0%,
    rgb(36, 153, 238) 90%
  );
}

.card-body.header {
  padding: 10px 15px 10px 15px;
}

.location {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  color: #000;
}

.date {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 20px;
}

.row.today-forecast {
  margin-bottom: 150px;
}

.card.forecast-results {
  padding: 15px 20px 15px 20px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border: none;
  background: none;
}

.current-weather-icon {
  display: block;
  margin: 0 auto;
  margin-top: 0;
  padding-top: 0;
  width: 90px;
}

.current-weather-description {
  text-align: center;
  text-transform: capitalize;
  font-size: 16px;
}

span.current-temperature {
  font-family: "Poppins", sans-serif;
  position: relative;
  right: 10px;
  font-size: 60px;
  font-weight: 600;
  color: #000;
}

a.temperature-unit {
  position: relative;
  font-size: 16px;
  color: #000;
  padding: 0;
  margin: 0;
}

a.temperature-unit:hover {
  text-decoration: none;
  cursor: pointer;
}

.celcius {
  position: relative;
  right: 10px;
  bottom: 30px;
}

.fahrenheit {
  position: relative;
  right: 40px;
  bottom: 5px;
}

.celcius.active {
  position: relative;
  right: 10px;
  bottom: 25px;
  font-size: 25px;
  cursor: default;
  font-weight: bold;
}

.fahrenheit.active:hover {
  text-decoration: none;
}

.fahrenheit.active {
  font-size: 25px;
  cursor: default;
  font-weight: bold;
  position: relative;
  right: 28px;
  bottom: 5px;
}

.celcius.active:hover {
  text-decoration: none;
}

.col-4.weather-details {
  padding-top: 18px;
}

p.weather-details {
  margin-bottom: 0;
  font-size: 14px;
}

.info-text {
  font-size: 12px;
  text-align: center;
  padding-top: 15px;
  color: #000091;
}

@media only screen and (max-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 800px;
    margin: 0 auto;
  }
  .form-inline {
    display: contents;
  }
}

@media only screen and (max-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
  .container {
    width: 100%;
    margin: 0 auto;
  }
  .inner-container {
    width: 100%;
    margin: 0 auto;
  }
  .card-body.header {
    padding: 5px 15px 10px 5px;
  }

  .form-inline {
    display: flex;
  }
  .card-body {
    padding: 20px 5px;
  }
}
.location {
  font-size: 25px;
}
.date {
  font-size: 18px;
}
.current-weather-description {
  font-size: 12px;
}
span.current-temperature {
  font-size: 45px;
}
a.temperature-unit {
  font-size: 12px;
  color: #000;
  padding: 0;
  margin: 0;
}

.celsius {
  position: relative;
  right: 10px;
  bottom: 20px;
}
.fahrenheit {
  position: relative;
  right: 40px;
  top: 10px;
}

.celsius.active {
  position: relative;
  right: 10px;
  bottom: 15px;
  font-size: 25px;
}

.fahrenheit.active {
  font-size: 25px;
  cursor: default;
  font-weight: bold;
  position: relative;
  right: 30px;
  bottom: 30px;
}
.row.today-forecast {
  margin-bottom: 100px;
}

@media only screen and (max-width: 400px) {
  .container,
  .container-md,
  .container-sm {
    width: 100%;
  }
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 40px 20px 0px 20px;
  }
  .inner-container {
    width: 100%;
    margin: 0 auto;
  }

  .card-body.header {
    padding: 0px 15px 10px 0;
  }

  .form-inline {
    display: flex;
  }
  card-body {
    padding: 20px 5px;
  }
  .card.forecast-results {
    padding: 15px 5px;
  }
  .location {
    font-size: 25px;
  }
  .date {
    font-size: 18px;
  }
  .current-weather-icon {
    width: 60px;
  }
  .current-weather-description {
    font-size: 18px;
  }
  span.current-temperature {
    font-size: 45px;
  }
  a.temperature-unit {
    font-size: 13px;
    color: #000;
    padding: 0;
    margin: 0;
  }
  .celsius {
    position: relative;
    right: 10px;
    bottom: 20px;
  }
  .fahrenheit {
    position: relative;
    left: 55px;
    top: -25px;
  }
  .celsius.active {
    position: relative;
    right: 10px;
    bottom: 15px;
    font-size: 25px;
  }
  .fahrenheit.active {
    font-size: 25px;
    cursor: default;
    font-weight: bold;
    position: relative;
    right: 30px;
    top: -35px;
  }
  row.today-forecast {
    margin-bottom: 50px;
  }
}

.info-text {
  text-align: center;
  padding-top: 40px;
  color: #240849;
}
